// Fuentes
$fuente_principal: "Poppins",sans-serif;
//$fuente_secundaria: 'Simply Rounded', sans-serif;                                            
// $fuente_tercearia: 'Source Sans Pro', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tabletxs: 640px;
$tablet: 768px;
$tabletl: 820px;
$tabletxl: 992px;
$desktop: 1200px;
$desktopxl: 1400px;

// Colores
$blanco: #FFFFFF;
$negro: #000000;
$amarillo: #f1c40f;
$verde1: #288d5b;
$azuldark: rgb(28, 47, 63);






// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900