@use 'base';
@use 'componentes';
@use 'home';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 100;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #004b23;
    color: #ffffff;
    overflow-x: hidden;
    background-image: url('/build/img/PROFESIONALES/FONDO.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    
}

.header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 45px;
    background-image: url('/build/img/Banner\ menú\ 2.png'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 116px;
}

.header__logo {
    position: absolute; 
    top: 0px; 
    left: 36px; 
}

.header__logo img {
    height: auto;
}

/* Estilos para el menú hamburguesa */
.header__hamburger {
    display: none; 
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 20px; 
    z-index: 10001;
}
.header__hamburger span {
    width: 30px;
    height: 3px;
    background-color: #ffffff; 
    margin: 4px 0;
    transition: all 0.3s ease;
}
/* Ocultar el menú de navegación en pantallas pequeñas */
@media (max-width: 768px) {
    .header__nav {
        display: none; 
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        background-color: #288d5b;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        z-index: 9999;
        transition: transform 0.3s ease-in-out; 
        transform: translateX(100%); 
    }

    /* Mostrar el botón menú hamburguesa */
    .header__hamburger {
        display: flex; 
    }

    /* Mostrar menú de navegación cuando esté activo */
    .header__nav.active {
        transform: translateX(0); 
        background-color: #288d5b;
        display: flex;
        align-items: end;
    }

    /* Ajuste de los enlaces dentro del menú */
    .header__nav a {
        margin: 20px 0;
        color: #004b23;
        font-size: 22px;
        text-decoration: none;
        text-align: center;
        width: 100%;
    }

    /* Ajustar tamaño y visibilidad de los íconos sociales */
    .header__social {
        justify-content: flex-start; 
        padding-left: 20px;
        margin-top: 30px;
    }

    .header__social a {
        margin-right: 15px;
        font-size: 24px;
        color: #004b23; /* Color de los íconos en el menú móvil */
    }
}

.header__logo h1 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 0;
}

.btn-contacto {
    display: block;
    padding: 10px 20px;
    color: #004b23;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

.header__social {
    display: flex;
    align-items: center;
    margin-right: 4rem;
}

.header__social a {
    color: #ffffff;
    margin-left: 15px;
    font-size: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    // background: linear-gradient(to bottom, #1d3557, #52b788);
}

.hero__content {
    max-width: 800px;
    margin-left: -1rem;
}

.hero__texto {
    margin-left: 8rem;
    margin-bottom: 4.5rem;
    margin-top: -8rem;
}

.hero__content h2 {
    font-size: 35px;
    font-weight: bold;
    color: #f1c40f;
    text-align: left;
}

.hero__content p {
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.2;
}

.divider {
    position: relative;
    width: 100%; 
    height: 3px; 
    background-color: #f1c40f; 
    border: none; 
    margin: 20px 0; 
}

.divider::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0; 
    transform: translateY(-50%);
    width: 12px; 
    height: 12px;
    background-color: #f1c40f; 
    border-radius: 50%; 
}

.hero__image {
    position: relative;
}

.hero__image img {
    width: auto;
    height: 470px;
}

.abogados {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/build/img/HOME/curva1.png');
    background-size: cover;
    background-position: center;
    z-index: 4;
    margin-top: -465px;   
}

.abogados__content {
    text-align: center;
    position: relative;
}

.abogados__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    margin-top: 350px;
}

.abogados__titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    line-height: 2;
}

.abogados__content i {
    font-size: 48px;
    color: #fca311;
}

.abogados__content h3 {
    margin-top: 20px;
    font-size: 35px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
}

.abogados__content h3 span {
    background-color: #1c2f3f;
    padding: 5px 10px;
    border-radius: 25px;
    font-weight: 500;
}

.abogados__content p {
    font-size: 27px;
    max-width: 77%;
    margin: 10px auto 0 auto;
    font-weight: 200;
}
